<!DOCTYPE html>
<html lang="en">
  {{> header title="Menu Page"}}
  <body>
    {{> nav}}
    <div class="container">
      <div id="menu">
        <div class="container text-center">
          <div class="row row-cols-3">
            <div v-for="item in menuItems" :key="item" class="col card">
              <div class="img_wrapper"><img :src="'/assets/imgs/' + item.picture" class="card-img-top" alt="{{item.title}} picture"></div>
              <div class="card-body">
                <h5 class="card-title">\{{ item.title }}</h5>
                <p class="card-text">\{{ item.description }}</p>
                <ul class="list-group-flush desc_block">
                  <li class="list-group-item">Price: \{{ item.cost }} RUB</li>
                  <li class="list-group-item">Calories: \{{ item.callQuantity }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> scripts}}
  </body>
</html>
